    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: darkblue;
    }
    
    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /* preloader1--------------------------------------------------------------- */
    
    .circle1 {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border-top: 4px solid rgba(0, 0, 255, 0.555);
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-duration: 5s;
    }
    
    .circle2 {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border-left: 4px solid rgba(0, 0, 255, 0.274);
    }
    
    .circle3 {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        border-right: 4px solid rgba(0, 0, 255, 0.075);
    }
    
    .circle4 {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border-right: 4px solid coral;
    }
    
    .circle5 {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border-left: 4px solid rgba(255, 127, 80, 0.548);
    }
    
    .circle6 {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border-bottom: 4px solid yellow;
    }
    
    .circle7 {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border-top: 4px solid rgba(255, 255, 0, 0.514);
    }
    
    @keyframes rotate {
        50% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(-360deg);
        }
    }
    /* preloader 2 ------------------------------------------------------------*/
    
    .parent-c {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .c1,
    .c2,
    .c3,
    .c4,
    .c5,
    .c6,
    .c7,
    .c8 {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: 25px;
        left: -10px;
        animation-name: color-circle;
        animation-duration: .6s;
        animation-iteration-count: infinite;
    }
    
    .c2 {
        top: -1px;
        left: 1px;
        animation-delay: .6s;
    }
    
    .c3 {
        top: -10px;
        left: 25px;
        animation-delay: .12s;
    }
    
    .c4 {
        top: -1px;
        left: 50px;
        animation-delay: .18s;
    }
    
    .c5 {
        top: 25px;
        left: 60px;
        animation-delay: .24s;
    }
    
    .c6 {
        top: 50px;
        left: 50px;
        animation-delay: .30s;
    }
    
    .c7 {
        top: 60px;
        left: 25px;
        animation-delay: .36s;
    }
    
    .c8 {
        top: 50px;
        left: 1px;
        animation-delay: .42s;
    }
    
    @keyframes color-circle {
        0% {
            background-color: rgba(128, 128, 128, 0.089);
        }
        100% {
            background-color: rgba(128, 128, 128, 0.589);
        }
    }
    /* preloader 3 ----------------------------------------------------------*/
    
    .parent-c2 {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        position: absolute;
        left: 75%;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .c21,
    .c22,
    .c23,
    .c24,
    .c25,
    .c26,
    .c27,
    .c28 {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: 25px;
        left: -10px;
        background-color: orangered;
        animation-name: animation3;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    
    .c22 {
        top: -1px;
        left: 1px;
        animation-delay: .6s;
        background-color: deeppink;
    }
    
    .c23 {
        top: -10px;
        left: 25px;
        animation-delay: .12s;
        background-color: deepskyblue;
    }
    
    .c24 {
        top: -1px;
        left: 50px;
        animation-delay: .18s;
        background-color: darkorchid;
    }
    
    .c25 {
        top: 25px;
        left: 60px;
        animation-delay: .24s;
        background-color: darkorange;
    }
    
    .c26 {
        top: 50px;
        left: 50px;
        animation-delay: .30s;
        background-color: fuchsia;
    }
    
    .c27 {
        top: 60px;
        left: 25px;
        animation-delay: .36s;
        background-color: cornflowerblue;
    }
    
    .c28 {
        top: 50px;
        left: 1px;
        animation-delay: .42s;
        background-color: gold;
    }
    
    @keyframes animation3 {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    /* preloader 4 ----------------------------------------------------------*/
    
    .parent-c3 {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        position: absolute;
        left: 20%;
        top: 15%;
        transform: translateY(-20%);
        animation-name: animation4;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        /* animation-timing-function: linear; */
    }
    
    .c31,
    .c32,
    .c33,
    .c34,
    .c35,
    .c36,
    .c37,
    .c38,
    .c39,
    .c310,
    .c311,
    .c312,
    .c313 {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: 25px;
        left: -10px;
    }
    
    .c31 {
        background-color: rgba(255, 0, 55, 0.795);
    }
    
    .c32 {
        top: 9px;
        left: -6px;
        animation-delay: .6s;
        border: 9px solid rgba(255, 0, 55, 0.747);
    }
    
    .c33 {
        top: -4px;
        left: 3px;
        animation-delay: .12s;
        border: 8px solid rgba(255, 0, 55, 0.575);
    }
    
    .c34 {
        top: -10px;
        left: 18px;
        animation-delay: .18s;
        border: 7px solid rgba(255, 68, 0, 0.74);
    }
    
    .c35 {
        top: -10px;
        left: 33px;
        animation-delay: .24s;
        border: 6px solid rgba(255, 68, 0, 0.603);
    }
    
    .c36 {
        top: -4px;
        left: 47px;
        animation-delay: .30s;
        border: 5px solid rgba(255, 166, 0, 0.897);
    }
    
    .c37 {
        top: 10px;
        left: 55px;
        animation-delay: .36s;
        border: 4px solid rgba(255, 166, 0, 0.767);
    }
    
    .c38 {
        top: 26px;
        left: 57px;
        animation-delay: .42s;
        border: 3px solid rgba(255, 255, 0, 0.932);
    }
    
    .c39 {
        top: 42px;
        left: 52px;
        animation-delay: .48s;
        border: 2px solid rgba(255, 255, 0, 0.74);
    }
    
    .c310 {
        top: 52px;
        left: 38px;
        animation-delay: .54s;
        border: 1px solid rgba(255, 255, 0, 0.616);
    }
    
    .c311 {
        top: 55px;
        left: 20px;
        animation-delay: .60s;
        border: 1px solid rgba(255, 255, 0, 0.505);
    }
    
    .c312 {
        top: 52px;
        left: 8px;
        animation-delay: .66s;
        border: 1px solid rgba(255, 255, 0, 0.342);
    }
    
    .c313 {
        top: 43px;
        left: -3px;
        animation-delay: .72s;
        border: 1px solid rgba(255, 255, 0, 0.212);
    }
    
    @keyframes animation4 {
        0% {
            opacity: .2;
        }
        50% {
            opacity: .5;
        }
        100% {
            opacity: 1;
            transform: translateY(-20%) rotate(360deg);
        }
    }
    /* preloader 5---------------------------------------------------------- */
    
    .parent-c4 {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translate(-50%, -20%);
        border-top: 4px solid rgba(0, 0, 255, 0.555);
        animation-name: animation5;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    .c41 {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        left: -8px;
        top: 15px;
        background-color: rgba(0, 0, 255, 0.589);
    }
    
    @keyframes animation5 {
        100% {
            transform: translate(-50%, -20%) rotate(-360deg);
        }
    }
    /* preloader 6----------------------------------------------------------- */
    
    .parent-c6 {
        width: 180px;
        height: 30px;
        position: absolute;
        left: 70%;
        top: 20%;
        transform: translateY(-20%);
    }
    
    .c61,
    .c62,
    .c63,
    .c64 {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.664);
        margin-right: 10px;
        animation-name: animation6;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    
    .c61 {
        animation-delay: .2s;
    }
    
    .c62 {
        animation-delay: .4s;
    }
    
    .c63 {
        animation-delay: .6s;
    }
    
    .c64 {
        animation-delay: .8s;
    }
    
    @keyframes animation6 {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    /* preloader 7 ----------------------------------------------------------- */
    
    .parent-c7 {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 75%;
        left: 20%;
        border-radius: 50%;
    }
    
    .rec1,
    .rec2,
    .rec3,
    .rec4,
    .rec5,
    .rec6,
    .rec7,
    .rec8 {
        width: 10px;
        height: 30px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.911);
        transform: rotate(90deg);
        position: absolute;
        left: -10px;
        top: 10px;
        animation-name: animation7;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    
    .rec2 {
        transform: rotate(-45deg);
        top: -10px;
        left: 1px;
        background-color: rgba(0, 0, 0, 0.801);
        animation-delay: .2s;
    }
    
    .rec3 {
        transform: rotate(0);
        top: -18px;
        left: 20px;
        background-color: rgba(0, 0, 0, 0.678);
        animation-delay: .3s;
    }
    
    .rec4 {
        transform: rotate(45deg);
        left: 40px;
        top: -8px;
        background-color: rgba(0, 0, 0, 0.596);
        animation-delay: .4s;
    }
    
    .rec5 {
        left: 48px;
        background-color: rgba(0, 0, 0, 0.479);
        animation-delay: .5s;
    }
    
    .rec6 {
        transform: rotate(-45deg);
        left: 40px;
        top: 30px;
        background-color: rgba(0, 0, 0, 0.404);
        animation-delay: .6s;
    }
    
    .rec7 {
        transform: rotate(0);
        top: 40px;
        left: 20px;
        background-color: rgba(0, 0, 0, 0.356);
        animation-delay: .7s;
    }
    
    .rec8 {
        transform: rotate(45deg);
        top: 31px;
        left: 1px;
        background-color: rgba(0, 0, 0, 0.281);
        animation-delay: .8s;
    }
    
    @keyframes animation7 {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }